/**********footer section css***************/
.webMain-footer{
    background:var( --skyblue-bg-color);
    border-radius: 50px 50px 0px 0px;
    margin-top:80px;
    padding: 19px 0px 19px 0px;
}


.footer-blackbg-section{
    background:var( --black-bg-color);
    border-radius: 50px 50px 0px 0px;
    padding:80px 0px 80px 0px;
}

.footerinner-section h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    color:var(--white-text-color);
}

.footer-img-section{
    width:100%;
    height:100%;
    padding:30px 0px 30px 0px;
    
}

.footer-contact-us h3 {
    color:var(--white-text-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

}

.footer-contact-us p{
    color:var(--white-text-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;

}
.footer-social-media-icon ul{
 display:flex;
 list-style-type: none !important; 
}

.footer-social-media-icon .social-icon{
    color:var(--white-text-color);
    font-size:30px;
    padding-left:45px;
}

.webMain-footer{
    position:relative;
}
.webMain-footer:before{
    position:absolute;
    content:url('../img/footer-before-top.png');
    left:0px;
    top:0px;

}
.webMain-footer:after{
    position:absolute;
    content:url('../img/footer-after-bottom.png');
    right:0px;
    bottom:0px;

}

.footer-social-media-icon li:before{
position:absolute;
content:'';
width:56px;
height:56px;
border-radius:50%;
border:3px solid #ffffff;
margin-left: 31px;
margin-top: -13px;
}

.footer-social-media-icon , .footerinner-section{
    justify-content:center !important;
}





@media screen and (min-device-width: 575px) and (max-device-width: 768px) { 
    .footer-social-media-icon ul{
        margin-left:108px;
    }
      
    }

    @media screen and (min-device-width: 463px) and (max-device-width: 575px) { 
        .footer-social-media-icon ul{
            margin-left:92px;
        }
          
        }
        @media screen and (min-device-width: 767px) and (max-device-width: 1046px) { 
            .footer-social-media-icon ul{
                margin-left:-42px;
            }
              
            }

        @media screen and (min-device-width: 375px) and (max-device-width: 463px) { 
            .footer-social-media-icon ul{
                margin-left:27px;
            }
              
            }
/* 
            @media screen and (min-device-width: 816px) and (max-device-width: 1046px) { 
                .footer-social-media-icon ul{
                    margin-right:27px;
        
                  
                } */



                @media (max-width:990px){
                    .footerinner-section h2 {
                        font-size:38px;
                        line-height:48px;
                    }
                }

                