.webMain-header nav.navbar 
{
    background: #000000 !important;
}
.webnavbar-nav .nav-item 
{
    padding: 0px 10px;
}
.webnavbar-nav .nav-item .nav-link 
{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--white-text-color);
}
.dropdown-toggle::after
{
    display: none;
}
li.nav-item.nav-itemBtn 
{
    border-radius: 50px;
    border: 2px solid var(--skyblue-bg-color);
    
}
.nav-itemBtn a.nav-link
{
    color: var(--skyblue-text-color) !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.dropdown-toggleWeb
{
    position: relative;
    padding-right: 20px !important;
}
.dropdown-toggleWeb:before 
{
    position: absolute;
    content: ''url(../img/down-ar.png)'';
    right: 5px;
    top: 6px;
}
.webDots-ellipies .dropdown-toggle 
{
    background: #1B1B1B;
    width: 35px;
    text-align: center;
    border-radius: 100px;
    margin-top: 2px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu 
{
    border: 0px;
    box-shadow: -1px 16px 42px #efeeee96;
    border-radius: 4px;
}
.webLogo {
    max-width: 100px;
}
.web-mobile{
    display: none;
}
.barMenu{
    color: var(--white-text-color);
}
@media (max-width:1200px)
{
.webnavbar-nav .nav-item .nav-link 
{
    font-size: 14px;
}
.webnavbar-nav .nav-item 
{
    padding: 0px 5px;
}
}
@media (max-width:992px)
{
    .web-mobile
    {
        display: block;
    }
    .web-desktop 
    {
        display: none !important;
    }
    .webDots-ellipies .dropdown-toggle
    {
        width: 100%;
        background-color: transparent;
        text-align: left;
        border-radius: 0px;
    }
    .webnavbar-nav .nav-item
    {
        margin-bottom: 15px;
        background: #1B1B1B;
    }
    .webnavbar-nav 
    {
        margin-top: 25px;
    }
    li.nav-item.nav-itemBtn {
        width: 200px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}


.nav-itemBtn{
    background:var(--black-bg-color);
    color:var(--skyblue-text-color);
    line-height:32px;
}

.btnn-connect-wallet-new{
    background:var(--grey-bg-color);
    color:var(--skyblue-text-color);
}
.modal-popup-btnn{
    margin-top: 266px
}